
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
<div>
    <h1 style="color: green">Course Entry Successful</h1>
</div>
</body>
</html>
